.margin_top{
    @apply md:mt-[6.25rem] mt-0;
}
/* Slick Slider */
.slick-slide, .portfolio_slide{
    outline: none;
}
.slick-dots li.slick-active button:before{
    opacity: 1 !important;
    color: #F55B1F !important;
    width: 1rem !important;
    height: 1rem !important;
}
.slick-dots li button:before{
    font-size: 1rem !important;
    color: #BBC8D5 !important;
    opacity: 1 !important;
}